{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('styles/admin.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <div class="content-container">
        <div class="title-container">
            <h3 class="surlignage-jaune">Utilisateurs</h3>
        </div>

        <table>
            <thead>
            <tr>
                <th class="id">Id</th>
                <th class="surname">Nom</th>
                <th class="name">Prénom</th>
                <th class="adress">Adresse</th>
                <th class="email">Email</th>
                <th class="roles">Rôles</th>
                <th class="action">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>nom</td>
                    <td>prénom</td>
                    <td>Adresse</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>
                        <div class="action-cell">
                            <a href="{{ path('app_user_crud_show', {'id': user.id}) }}">
                                {{ ux_icon('mdi-light:eye', {height: '16px', class: "icons edit-icon"}) }}
                            </a>
                            <a href="{{ path('app_user_crud_edit', {'id': user.id}) }}">
                                {{ ux_icon('ep:edit', {height: '16px', class: "icons delete-icon"}) }}
                            </a>
                            {{ include('user_crud/_delete_form.html.twig') }}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
