{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link href="{{ asset('styles/registration.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Voir l'utilisateur{% endblock %}

{% block body %}
    <div class="content-container">
        <div class="title-container">
            <h3 class="surlignage-magenta">Informations</h3>
        </div>

        <div class="form-container">
            <p class="attribute-title">Id</p>
            <p>{{ user.id }}</p>
            
            <p class="attribute-title">Email</p>
            <p>{{ user.email }}</p>

            <p class="attribute-title">Roles</p>
            <p>{{ user.roles ? user.roles|json_encode : '' }}</p>

            <p class="attribute-title">Password</p>
            <p>{{ user.password }}</p>

            <div class="edit-buttons">
                <a href="{{ path('app_user_crud_index') }}" class="submit-button">Revenir à la liste</a>

                <a href="{{ path('app_user_crud_edit', {'id': user.id}) }}">
                    {{ ux_icon('ep:edit', {height: '20px', class: "icons delete-icon"}) }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
